<h2>Edit Recipe: {{title}}</h2>
<div class="form-group">
  <label for="title-input">Recipe Title</label>
  <input id="title-input" value="{{title}}"class="form-control" type="text">
  <br>
  <label for="description-input">Recipe Description</label>
  <input id="description-input" value="{{description}}" class="form-control" type="text">
  <br>
  <button id="save-recipe" class="btn btn-success">Save Recipe</button>
  <br>
</div>
<div id="item-display">
  <div class="list-group-item">
    <h4 id="list-title" class="list-group-item-heading">{{title}}</h4>
    <p id="list-description" class="list-group-item-text">{{description}}</p>
  </div>
</div>